 {% extends "base.html" %}
{% block title %}
Facturacion | Inicio
{% endblock title %}
{% load static %}
{% block content %}
    <h1>Aqui puede ir la página de facturación</h1>
    <br>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. A voluptatem expedita quo 
    sunt impedit labore beatae libero! Magnam, iusto commodi similique ducimus magni aperiam 
    ariatur, exercitationem molestias, debitis consequuntur libero! Facilis voluptatum labore 
    possimus vero! Earum, modi ratione dolores officiis quam perspiciatis, assumenda 
    voluptatem saepe alias repellendus minima, pariatur nihil? Porro cum culpa corporis 
    quaerat exercitationem ipsam consectetur ad non. Voluptates nam ducimus at magnam 
    dolorum, molestias quaerat! Cumque dolores voluptatem sed excepturi! Neque, nisi. 
    Voluptates at doloremque dolorem deserunt mollitia qui labore vitae voluptate architecto 
    idem, ipsa quas in!</p>
{% endblock content %}